/* 
Theme color main: 262d35;
Theme color secondary: 12f7d6;
Theme color thetiary: 1a1d22;
Theme color alt write: dedfe1;
Theme color alt write 2: 8b8e95;
*/
/*
Theme color main: 3D52A0;
Theme color secondary: 7091E6;
Theme color thetiary: 8697C4;
Theme color alt write: ADBBDA;
Theme color alt write 2: EDE8F5;
*/

/* Navbar */
.nav {
    background-color: #3D52A0;
    color: white;
}

/* Style for main hero*/
.hero-container {
    display: flex;
}
.main-hero {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #3D52A0;
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    padding: 30px;
}
.main-message {
    width: 500px;
}
.message-head {
    color: white;
}
.message-body {
    color: cyan;
}
.social,
.rec {
    background-color:rgb(54, 63, 64);
    color: white;
    height:fit-content;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 2px;
}
.social li,
.rec li {
    list-style: none;
    cursor: pointer;
    padding-bottom: .7rem;
}
.person,
.rec {
    border: 2px solid cyan;
    height: fit-content;
    padding: 10px 5px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 20rem;
    background-color: #8697C4;
    color: #ADBBDA;
    width: 10rem
}
.dig {
    color: #7091E6;
    font-size: 1.3rem
}
.rec {
    position: static;
}
.hero-info {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 0%;
    background-color: rgba(49, 47, 47, 0.565);
    color: white;
    z-index: 1;
    /*animation: drop 7s linear infinite;*/
}
.services {
    background-color: #8697C4;
}

.slider {
    width: 100%;
    height: 1000px;
    animation: moveIn 7s linear infinite;
}

/* Style for service section */
.services-container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
}

.service-card,
.promise-card {
    position: relative;
    width: 20rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid grey;
    box-shadow: 3px 3px 1px rgb(151, 224, 224);
    background-color: #3D52A0;
    color: #7091E6;

    /*
    background: rgba(135, 0, 254, 0.27);
    background: linear-gradient(180deg, rgba(134,0,254,1) 16%, rgba(94,11,255,1) 54%);
    */
}
.service-image {
    width: 10rem;
    position: absolute;
    right: 5rem;
    top: 1rem;
}

.service-text {
    margin-top: 10rem;
}

.service-text {
    display: block;
    width: 100%;
    height: auto;
}
/*
.stra {
    background-color: rgb(188, 230, 106);
}

.des {
    background-color: rgb(235, 134, 134);
    color: white
}
.wap {
    background-color: rgb(237, 118, 237)
}
*/
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8697C4;
    color: #7091E6;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.service-card:hover .overlay {
    height: 100%;
}

/* Style for what we do section */
.wedo {
    background-color: #3D52A0;
}
.box {
    margin-bottom: 7px;
}
.wedo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    height: 40rem;
    overflow: hidden;
}
.do-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border-top: 2px solid #7091E6;
    border-bottom: 2px solid #7091E6;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: background-color .5s ease;
}
.do-card:hover {
    background: rgb(18,247,214);
    background: linear-gradient(180deg, rgba(18,247,214,1) 0%, rgba(38,45,53,1) 26%, rgba(26,29,34,1) 89%);
    transition: .5s ease;
}
.do-txt {
    color: #7091E6;
}
.wedoimg {
    width: 30rem;
    height: 30rem;
    transition: .5s ease;
}

.wedoimg:hover {
    width: 45rem;
    height: 50rem;
}


.overlay1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    /*
    background: rgba(135, 0, 254, 0.27);
    background: linear-gradient(180deg, rgba(134,0,254,1) 16%, rgba(94,11,255,1) 54%);
    */
    background: rgb(18,247,214);
    background: linear-gradient(180deg, rgba(18,247,214,1) 0%, rgba(38,45,53,1) 26%, rgba(26,29,34,1) 89%);
    color: white;
    overflow: hidden;
    transition: .5s ease;
    width: 100%;
}
.headings {
    color: #7091E6;
    margin-bottom: 5rem;
}
.overlay1 {
    background-color: rgb(48, 47, 47);
    color: white;
}

.wedo-img {
    width: 30rem;
    height: 100%;
    position: relative;
}
.wedo-head {
    position: absolute;
    top: 0;
    color: violet;
    z-index: 1;
    font-weight: 400;
}
.wedo-card {
    position: relative;
    width: 100%;
    display: flex;
}

.wedo-card:hover .overlay1 {
    height: 100%;
}

/* Promise*/
.promise-card {
    height: 20rem;
    padding: 15px;
}

.promise-icon {
    width: 5rem;
}

/* Quota form*/
.quota-form {
    background-color: rgb(46, 46, 46);
    background-color: #8600fe;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around
}

/* Animations for the main hero */
@keyframes drop {
    0% {
        bottom: 100%
    }

    100% {
        top: 0%;
    }

}

@keyframes moveIn {
    0% {
        position: relative;
        left: 100%
    }

    10% {
        position: relative;
        left: 80%
    }

    20% {
        position: relative;
        left: 60%;
    }

    30% {
        position: relative;
        left: 40%
    }

    40% {
        position: relative;
        left: 20%
    }

    50% {
        position: relative;
        left: 0%;
    }

    60% {
        position: relative;
        left: -20%
    }

    70% {
        position: relative;
        left: -40%;
    }

    80% {
        position: relative;
        left: -60%;
    }

    90% {
        position: relative;
        left: -80%;
    }

    100% {
        position: relative;
        left: -100%
    }

}
